body {
  background: linear-gradient(to bottom, var(--eerie-black), var(--midnight-purple));
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  /* CSS HEX */
  --floral-white: #fffcf2ff;
  --timberwolf: #ccc5b9ff;
  --black-olive: #403d39ff;
  --eerie-black: #252422ff;
  --flame: #eb5e28ff;
  --sky:#28c7eb;
  --midnight-purple: #363769;
  --blue-user: #1265bd;
  --purple-bot: #431790;
}

.texto-titulo{
  color: var(--floral-white);
}


